a:link {
  color: green;
  font-family: "KaiTi";
  text-decoration: none;
  text-shadow: 5px 5px 10px 2px black;
}

a:visited {
  color: chartreuse;
  font-family: "KaiTi";
  text-decoration: none;
  text-shadow: 5px 5px 10px 2px black;
}

a:hover {
  color: aquamarine;
  font-family: "KaiTi";
  text-decoration: underline;
  text-shadow: 5px 5px 10px 2px black;
}

a:active {
  color: aquamarine;
  font-family: "KaiTi";
  text-decoration: underline;
  text-shadow: 5px 5px 10px 2px black;
}

body {
  font-family: "KaiTi";
  background-color: goldenrod;
  border: 5px solid green;
}

p {
  text-indent: 4em;
  text-shadow: 5px 5px 10px 2px black;
}

div {
  text-shadow: 5px 5px 10px 2px black;
}

.name.boy {
  color: blue;
  font-family: "FangSong";
  text-shadow: 5px 5px 10px 2px aqua;
}

.name.girl {
  color: red;
  font-family: "FangSong";
  text-shadow: 5px 5px 10px 2px hotpink;
}